.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 1024px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.logoSection {
  height: 100%;
  background-color: #893da1;
  display: none;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .logoSection {
    display: flex;
  }
}

.formSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  border: none;
  padding: 1.5rem; /* p-6 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 380px;
}
